{% extends 'layout.html' %}

{{ request.title }}

{% block content %}
    <div class="p-10 lg:p-20 text-center">
        <h1 class="text-3xl lg:text-6xl text-white">Chat uchun xonalar</h1>
    </div>
    <div class="w-full flex flex-wrap items-center">
        {% for room in rooms %}
            <div class="w-50 lg:w-1/1 px-5 py-5">
                <div class="p-2 bg-white shadow rounded-xl text-center">
                    <h2 class="mb-3 text-2xl font-semibold ">{{ room.name }}</h2>
                    <a href="{% url 'main:xona' room.slug %}"
                       class="px-5 py-3 block rounded-xl text-white bg-teal-600 hover:bg-teal-700">Qo'shilish</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}